<div class="lg:w-4/12 shadow-md m-auto p-4 mb-8">
  <h3 class="text-xl text-center font-semibold py-4">Register</h3>
  <form class="flex flex-col" [formGroup]="registrationForm" (ngSubmit)="register()">
    <div class="flex flex-col mb-1">
      <input class="p-2 border border-gray-300 rounded" type="text" name="firstName" placeholder="Enter your first name"
        formControlName="firstName">
      <span *ngIf="registrationForm.hasError('required','firstName') && registrationForm.controls['firstName'].dirty"
        class="text-red-500">*First name is required</span>
    </div>
    <div class="flex flex-col mb-1 mt-4">
      <input class="p-2 border border-gray-300 rounded" type="text" name="lastName" placeholder="Enter your last name"
        formControlName="lastName">
      <span *ngIf="registrationForm.hasError('required','lastName') && registrationForm.controls['lastName'].dirty"
        class="text-red-500">*Last name is required</span>
    </div>
    <div class="flex flex-col mb-1 mt-4">
      <input class="p-2 border border-gray-300 rounded" type="email" name="email" placeholder="Enter your email"
        formControlName="email">
      <span *ngIf="registrationForm.hasError('required','email') && registrationForm.controls['email'].dirty"
        class="text-red-500">*Email is required</span>
      <span *ngIf="registrationForm.hasError('email','email')" class="text-red-500">*Email is invalid</span>
    </div>
    <div class="flex flex-col mb-1 mt-4">
      <input class="p-2 border border-gray-300 rounded" type="password" name="password"
        placeholder="Enter your password" formControlName="password">
      <span *ngIf="registrationForm.hasError('required','password') && registrationForm.controls['password'].dirty"
        class="text-red-500">*Password is required</span>
      <span *ngIf="registrationForm.hasError('minlength','password')" class="text-red-500">*Password length should
        atleast 6 character long.</span>
    </div>
    <div class="flex flex-col mb-1 mt-4">
      <input class="p-2 border border-gray-300 rounded" type="password" name="password"
        placeholder="Confirm your password" formControlName="confirmPassword">
      <span
        *ngIf="registrationForm.hasError('required','confirmPassword') && registrationForm.controls['confirmPassword'].dirty"
        class="text-red-500">*Password is required</span>
      <span *ngIf="registrationForm.hasError('confirmPasswordValidator','confirmPassword')"
        class="text-red-500">*Password didn't match</span>
    </div>
    <div class="flex flex-col mb-1 mt-4">
      <button [disabled]="registrationForm.invalid" [class.disabled]="registrationForm.invalid"
        class="w-full bg-teal-500 py-2 rounded text-white font-semibold" type="submit">Submit</button>
    </div>
  </form>
  <div class="mb-12 mt-2 text-center">
    <p>Already Have Account? <a routerLink="/login" class="hover:cursor-pointer text-teal-500">Login here</a></p>
  </div>
</div>